<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <img
            src="../assets/BTT_logo.png"
            style="max-width:60%;
          padding-left:17%;"
          />
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item button *ngFor="let p of itemsList">
              <ion-label>{{ p.ID }}</ion-label>
              <ion-toggle
                (ionChange)="toggleChange(p)"
                [(ngModel)]="p.checked"
                name="{{ p.ID }}"
                color="light"
              ></ion-toggle>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
