<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <img
            src="../assets/BTT_logo.png"
            style="max-width:60%;
          padding-left:17%;"
          />
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              [color]="p.namedColor"
              *ngFor="let p of itemsList"
              (click)="toggleChange(p)"
            >
              <div style="width: 80%; text-align: center;">{{ p.ID }}</div>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
