ion-item {
  background: #00bcb4 !important;
}

ion-menu {
  max-width: 200px !important;
}

.btn-align {
  .button-inner {
    /*< --- this class added automatically */
    padding-left: 100px;
  }
}
