<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Welcome to the Bonefish and Tarpon Trust Tarpon Fish Tracker!</ion-title
    >
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-body">
    Here, you will find the detections of tarpon tagged with acoustic
    transmitters. The Tarpon Acoustic Tagging Project is a collaborative,
    five-year program designed to broaden our understanding of tarpon movement
    and habitat uses. The results will help shape future conservation measures,
    including the protection of critical habitats and improvements to fishing
    regulations.
    <br /><br />
    <ul>
      <li>
        Click on a transmitter ID on the left side of the screen and see where
        this fish was first detected
      </li>
      <li>Each circle indicates the detection in its sequence</li>
      <li>
        Click again on a bubble to see additional information on the fish
      </li>
      <li>Click on the arrow to see the next detection of the fish</li>
      <li>Zoom in and out to see the fishes movement pattern</li>
    </ul>
  </div>

  <div class="modal-footer"></div>
</ion-content>
