<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Welcome to the Bonefish and Tarpon Trust Tarpon Fish Tracker!</ion-title
    >
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-body">
    Here, you will find the detections of Atlantic tarpon tagged with acoustic
    transmitters. The Tarpon Acoustic Tagging Project is being conducted by
    Bonefish & Tarpon Trust and University of Massachusetts Amherst, along with
    other partners collaborating in the sharing of telemetry data. This 5+ year
    project is designed to broaden our understanding of local and regional
    tarpon movements and related habitat uses. Results from this project will
    help shape future conservation measures, including the protection of
    critical habitats and improvements to fishing regulations.

    <br /><br />
    <ul>
      <li>
        Click on a transmitter ID on the left side of the screen to see the
        fish's detections
      </li>
      <li>
        The yellow line is the connection across sequential detection and is
        represented "as the crow flies"
      </li>
      <li>
        Click on the tarpon icon to see additional information on the particular
        fish
      </li>
      <li>
        Control the FishTracker and its speed using the buttons in the upper
        right corner
      </li>
      <li>Zoom in and out to see the fish's movement pattern</li>
    </ul>
  </div>

  <div class="modal-footer"></div>
</ion-content>
