<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button
        (click)="play()"
        [color]="selectItem === 'play' ? 'success' : 'danger'"
      >
        <ion-icon name="play"></ion-icon>
      </ion-button>
      <ion-button
        (click)="pause()"
        [color]="selectItem === 'pause' ? 'success' : 'danger'"
      >
        <ion-icon name="pause"></ion-icon>
      </ion-button>
      <ion-button (click)="reset()" [color]="'medium'">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
      <ion-button (click)="prev()" [color]="'medium'">
        <ion-icon name="rewind"></ion-icon>
      </ion-button>
      <ion-button (click)="next()" [color]="'medium'">
        <ion-icon name="fastforward"></ion-icon>
      </ion-button>

      <ion-button (click)="fast()" [color]="'medium'">
        <ion-icon name="trending-up"></ion-icon>
      </ion-button>
      <ion-button (click)="slow()" [color]="'medium'">
        <ion-icon name="trending-down"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="controls" *ngIf="markerDate">
    <ion-text>Last Observation: {{ markerDate }}</ion-text>
  </div> -->
  <div class="controls" *ngIf="markerDates.length">
    <div class="timeline">
      <div class="container right" *ngFor="let markers of markerDates">
        <div class="content">
          <div>
            {{ markers.Season}} {{ markers.Display_Date.split(" ")[1] }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <agm-map
    [style.height.px]="height"
    [latitude]="lat"
    [longitude]="lng"
    (mapReady)="onMapReady($event)"
    [maxZoom]="14"
  >
  </agm-map>
</ion-content>
